@model Core.DTO.chucvu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>chucvu</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.chuc_vu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chuc_vu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.he_so)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.he_so)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
